 @import "./../variables.scss";

 .header {
     width: 100%;
     z-index: 150;
     background: #fff;

 }

 .container {
     max-width: $mw;
     margin: 0 auto;
     padding: 18px 15px;
     @extend %displayComplect;
     min-height: 70px;

     @media (max-width:767px) {
         flex-direction: column;
         gap: 10px;
     }
 }

 .logo {
     position: relative;
     z-index: 500;
     max-width: 200px;

     img {
         width: 100%;
     }
 }

 .menu {}

 .menuIcon {
     @media (max-width:767px) {
         padding: 10px;
         background: #7EB693;
         border-radius: 10px;
     }

 }



 .menuBody {
     @media (max-width:767px) {
         transform: translateY(15);
         position: absolute;
         right: 0px;
         width: 100%;
         min-height: 135px;
         top: 0px;
         transition: right 0.0s ease 0s;

         &::before {
             content: '';
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 135px;
             z-index: 200;
             padding: 60px 15px;
             background: #fff;
         }

         &.open {
             transition: transform 0.3s;
             transform: translateY(120px, 0px);
         }
     }
 }

 .list {
     @media (max-width:767px) {
         padding: 15px;
         background: #e0f8e9f3;
         transform: translateY(145px);

         &.open {
             transform: translateY(0px);
         }
     }

     li {
         position: relative;
         margin-left: 20px;

         &:hover {
            .sabList {
                 opacity: 1;
                 padding-left: 15px;
                 height: 150px;
                 visibility: visible;
                 pointer-events: all;
                 transition: 0.3s;
             }
         }

         @media (max-width:767px) {

             li {

                 margin: 0px 0px 15px 0px;

                 &:last-child {
                     margin-bottom: 0px;
                 }
             }

             &:hover {
                .sabList {
                     position: relative;
                     left: 0;
                     height: 120px;
                     transition: 0.1s;
                     z-index: 150;
                 }
             }
         }
     }

     @media (min-width:767px) {
         display: flex;
         align-items: center;

         li {
             padding: 10px 0;
         }
     }
 }

 .menuLink {
     display: flex;
     align-items: center;
     gap: 5px;
     font-size: 18px;
     color: #274C5B;
     transition: 0.3s;

     &:hover {
         transition: 0.3s;
         color: #7EB693;
         text-decoration: underline;
     }
 }

 .sabList {
     position: absolute;
     top: 100%;
     padding-right: 10px;
     background: #e0f8e9f3;
     min-width: 150px;
     height: 0px;

     li {
         margin: 0px 0px 10px 0px;

         &:last-child {
             margin-bottom: 0px;
         }

         &:first-child {
             padding-top: 10px;
         }
     }

     transform: translate(0px, 10px);
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     transform: translate(0px, 0px);
     transition: 0.3s;
 }

 .subLink {
     font-size: 18px;
     color: #274C5B;
     transition: 0.3s;

     &:hover {
         transition: 0.3s;
         color: #7EB693;
         text-decoration: underline;
     }

 }

